/* Breadcrumbs
  *
  * 0. Headings
  * 1. Links
  * 2. Contact Info
  * 3. Dates
  * 4. Skills
  * 5. Academic
  * 6. Work animation
  * 7. Print
  *
  */

 /* 0. Headings */
h1,h2,h3,h4,h5,h6 {
	color: #181818;
	font-family: "Georgia","Times New Roman",Helvetica,Arial,sans-serif;
	font-weight: normal;
}
h1 { font-size: 46px; line-height: 50px; margin-bottom: 10px;}
h2 { font-size: 35px; line-height: 40px; margin-bottom: 10px; }
h3 { font-size: 18px; line-height: 22px; margin-bottom: 2px; }
h4 { font-size: 16px; line-height: 19px; margin-bottom: 10px; }
h5 { font-size: 15px; line-height: 17px; }
h6 { font-size: 14px; line-height: 16px; }

.work h3:nth-child(2),h2:nth-child(2),.horizontal-list h3,dl dt,#academic article span.title,#academic article span a,#academic article span a.visited {
	color: #2E99B8;}

header h2 {
	font-size: 23px; line-height: 25px;}

article.work hgroup {
	float: left; }

article.work p {
	clear: both; }

.work {
	margin-bottom: 20px; }

/* 1. Links */
button.linkLike {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	font-size: inherit;
	font-weight: normal;
}
a,
a:visited,
.linkLike {
	text-decoration: none;
	border-bottom: 1px dotted #00e;
}
a:hover,
.linkLike:hover,
h3 a:visited:hover,
#academic article span a:hover,
a:focus,
.linkLike:focus,
h3 a:visited:focus,
#academic article span a:focus {
	color: #00e;
}
h3 a,h3 a:visited {
	color: #2E99B8;
}

/* 2. Contact Info */
dl {
	margin-top: 10px;
	width: 100%;
	 overflow:hidden;
}
dt {
	float: left;
	text-align: right;
	width: 16%;
	margin-right: 1%;
	clear:left;
}
dt:after {
	content: ': ';
}
dd {
	width: 83%;
	margin-left: 17%;
}

.github-mark {
	width: 1rem;
	height: 1rem;
	margin-bottom: -4px;
	margin-right: 0.2rem;
}

/* 3. Dates */
.date {
	float: right; }
.date.start:before {
	content: 'From: '; }
.date.end:before {
	content: 'To: '; }
.date.end:after,.date.start:after {content: '';}
.date.end {
	clear: right; }
.date:before,.date:after {
	color: #31a8ca; }
article .date:before {
	content: '('; }
article .date:after {
	content: ')'; }

/* 4. Skills */
.horizontal-list h3,.horizontal-list ul,.horizontal-list ul li {
	display: inline;
	font-size: 14px;
	line-height: 16px;
}
.horizontal-list h3:after {
	content: ': ';}
.horizontal-list ul li:after {
	content: ', ';}
.horizontal-list ul li:nth-last-child(2):after {
	content: ', ';}
.horizontal-list ul li:nth-last-child(1):after {
	content: '.';}
.horizontal-list ul li:nth-last-child(1):before {
	content: 'and ';
}
.work-details {
	margin: 10px 0px; }

.linkLike:hover {
	cursor: pointer;
}

#skillsSection ul li label {
	display: inline;
}

#skillsSection ul li label:hover,
#skillsSection ul li label:focus {
	cursor: pointer;
}

#skillsUL {
	margin-top: 10px; }

/* 5. Academic */
#academic article span.title {
	font-style: italic;
}

#academic {
	margin-bottom: 40px;
}

/* 6. Work animation */
.work {
	transition:
		transform 0.4s,
		height 0.4s,
		margin 0.4s;
	transform: scaleY(1);
}

.work * {
	transition: margin 0.4s;
}

.work--hidden {
	transform: scaleY(0);
	height: 0;
	margin: 0;
	overflow: hidden;
}

.work--hidden * {
	margin: 0;
}

/* We need nice size margins */
@page {
	margin: 3cm 2cm 4cm 2cm;
}
/* 6. Print */
@media print {
	/*body {margin: 3cm 2cm 4cm 2cm;}*/
	/* Don't allow page breaks inside articles,or any of the academic subsections */
	article,#academic section { page-break-inside: avoid; }

	/* Reset everything to boring black */
	body *,.work h3:nth-child(2),h2:nth-child(2),.horizontal-list h3,dl dt,h3 a,#academic article span.title,.date:before,.date:after {
		color: black;
		text-decoration: none;
		border: none;
	}
	/* Font print sizes need to be a little larger */
	body {
		font-size: 16pt;
		line-height: 1.3em;}
	header h2 {
		font-size: 20pt; }
	h3 {
		font-size: 18pt;
		font-weight: bold; }
	h4 {
		font-size: 17pt;
		font-style: italic; }
	h3,h4 {
		line-height: 1.3em; }

	/* Put links after the text so people know they're there */
	a:link:after,a:visited:after { content:" [" attr(href) "] "; }
	/* Exclude links which aren't text */
	#contact-info a:link:after,#contact-info a:visited:after { content: ''; }

	/* Set widths for the divs */
	div.container .eleven.columns,div.container div.sixteen.columns  {
		width: 100%;
		margin: 0px;
	}
	div.container .ten.columns {
		width: 62.5%;
		margin: 0px; }
	div.container .six.columns {
		width: 37.5%;
		margin: 0px; }
	/* Hide skills list on right and the link to download the PDF */
	#skillsSection,.PDF-Link { display: none; }

	/* Set skills list for each article and spacing */
	section h2 {
		margin-top: 20px; }
	#experience h2 {
		margin-bottom: -20px; }
	.work {
		margin: 12px 0px; }
	.work hgroup {
		margin: 14px 0px; }
	.work {
		margin-bottom: 15px; }
	.horizontal-list h3,.horizontal-list ul,.horizontal-list ul li {
		display: inline;
		font-size: 14pt;
	}
	#academic,article:nth-child(1),article:nth-child(1) .row {
		margin-bottom: 0px;
		padding-bottom: 0px; }

	/* Fix top list for print */
	dl { padding-right: 1cm;
		font-size: 0.9em; }
	dt {text-align: left;}
	dd {text-align: right;
		margin: 0% 1% 0% 0%;}
	dd:after {
		content: ' | '; }
	dt:after { content: ''; }
	dt {
		float: right;
		clear: left;
		margin-right: 0%; }

}
